name: Setup AWS Credentials and Environment Reusable Workflow

on:
  workflow_call:
    inputs:
      corp-aws-region:
        description: "Corporate AWS Region"
        required: true
        type: string
      federal-aws-region:
        description: "Federal AWS Region"
        required: true
        type: string
      python-version:
        description: "Python version to set up"
        required: true
        type: string
      aws-cli-version:
        description: "AWS CLI version to install"
        required: false
        default: "2"
        type: string
      aws-cli-arch:
        description: "AWS CLI architecture"
        required: false
        default: "amd64"
        type: string

    secrets:
      inherit: true

jobs:
  setup-aws-environment:
    runs-on: ubuntu-latest

    steps:
      - name: Configure Corporate AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.DEVOPS_CORP_AUTOMATION_AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.DEVOPS_CORP_AUTOMATION_AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ inputs.corp-aws-region }}

      - name: Configure Federal AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.DEVOPS_DOOP_AUTOMATION_AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.DEVOPS_DOOP_AUTOMATION_AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ inputs.federal-aws-region }}

      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ inputs.python-version }}

      - name: Prepare Environment
        id: prep
        run: /bin/bash .github/scripts/prep.sh
        continue-on-error: false

      - id: install-aws-cli
        uses: unfor19/install-aws-cli-action@v1
        with:
          version: ${{ inputs.aws-cli-version }}
          verbose: false
          arch: ${{ inputs.aws-cli-arch }}
          rootdir: ""
          workdir: ""
